apache2-utils
autossh
bash-completion
bc
bsdmainutils
python3-pip
btrfs-progs
build-essential
curl
dialog
dosfstools
dphys-swapfile
fail2ban
fbi
fzf
git
hexyl
htop
jq
libatlas-base-dev
nginx
obfs4proxy
parted
policykit-1
python3
python3-dialog
python3-jinja2
python3-pip
python3-pyqt5
python3-systemd
python3-stem
qrencode
redis-server
screen
secure-delete
socat
sysbench
telnet
tmux
unclutter
unzip
vim
vnstat
xfonts-terminus
xterm
torsocks
nyx
apt-transport-tor
autoconf
automake
libtool
libgmp-dev
python3-mako
net-tools
zlib1g-dev
libsodium-dev
postgresql
libpq-dev
gettext
libgettextpo-dev